/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/bin/
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_xml_2_11_1_0_2_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_library_2_11_7_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_reflect_2_11_2_jar.xml
.idea/libraries/SBT__org_scalatest_scalatest_2_11_2_2_4_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/vcs.xml
.idea/workspace.xml
/libexec/
